<form action="/create_repo_path" method="post">
	<p>
		<label for="path">Create a path for your repository: (/var/my_cool_new_git_repository)</label><br/>
		<input type="text" name="path" /> <input type="submit" value="Create">
	</p>
</form>