<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Git Local</title>
    
		<style type="text/css">
			body {
				font-family: 'Lucida Grande';
				background-color: #608341;
			}

			h1 {
			  margin-left: 20px;
			  color: #555;
			}

			a {
			  color: #324F17;      
			}

			a:hover {
			  background-color: #324f17;
			  color: #E3CF57;
			}

			p {
			  margin-left: 20px;
			  color: #555;
			}

			p.history {
			  text-align: right;
			  padding-right: 20px;
			}

			div#wrapper {
				width: 1000px;
				margin: 70px auto;
				border: solid 4px #E3CF57;
				background: #fff;
			}

			li.commit {
			  margin-top: 10px;
			  color: #555;
			}
			
		</style>
	</head>
	<body>
		<div id="wrapper">
	    <%= yield %>			
		</div>

	</body>
</html>