!!! strict
%html
  %head
    %title= 'Git Local'
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css' }
    %script{ :src => '/facebox/jquery.js', :type => 'text/javascript' }
    %link{ :href => '/facebox/facebox.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src => '/facebox/facebox.js', :type => 'text/javascript' }
    %script{ :src => '/application.js', :type => 'text/javascript' }
  %body
    #wrapper= yield