<form action="/add_repo" method="post">
	<p>
		<label for="name">Enter a name for the repository:</label><br/>
		<input type="text" name="name" />
	</p>
	<p>
		<label for="path">Enter the path to your repo:</label><br/>
		<input type="text" name="path">
	</p>
	<input type="submit" value="Create">
</form>