// normal grey
!color1 = #555
// black
!color2 = #000
// palm green
!color3 = #608341
// darker palm green
!color4 = #324F17
// gold
!color5 = #E3CF57
// white
!color6 = #fff
// light gray
!color7 = #eaeaea

body
  :font-family helvetica
  :background-color = !color3
  :color = !color2

h1, h2
  :margin-left 20px
  :color = !color2

a
  :color = !color4
  :text-decoration none
  &:hover
    :background-color = !color4
    :color = !color5

p
  :margin-left 20px
  :color = !color1

input
  :display block

p.history
  :text-align right
  :padding-right 20px

code
  :font
    :family Monaco, monospace
    :size 13px
  &.line_number
    :margin-left 4px

li
  span
    a
      :color #c4656c
      :font
        :family 'Monaco', monospace
        :style italic
      &:hover
        :background transparent
        :color #c4656c
        :text-decoration underline
      
div#wrapper
  :width 1000px
  :margin 70px auto
  :border solid 4px
    :color = !color5
  :-webkit-border-radius 6px
  :background = !color6
  :overflow auto

div#header
  ul#nav, li
    :display inline
  ul#nav
    :position absolute
    :margin 0
    :padding 15px 80px
    :left 50%
    :top 90px
    :margin-left 80px
    :border solid 1px #ccc
    :-webkit-border-radius 5px
    //:background #eaeaea
    li
      :list-style none
      :margin 10px
      a
        :font
          :size 18px
          :weight light

div#content
  ul.tree, ul.tree li
    :list-style none
  ul.tree
    :margin 0 0 0 20px
    :padding 0
    li
      :margin 4px 0
      :font
        :family monaco
        :size 14px
    li.blob
      :padding-left 20px
      :background url(images/document_text.png) no-repeat
    li.folder
      :padding-left 20px
      :background url(images/folder.png) no-repeat

div#diff
  :color = !color2

div#file
  :margin 0px 10px
  :color #000
  :background-color #fff
  table.highlighttable
    :background #eaeaea
    :border solid 1px #999
    :border-collapse collapse
    :margin 0 10px 20px 10px
    :width 950px
    td.linenos
      :background #ccc
      :color #555
      :border-right solid 1px #999
      :padding 0 10px 0 10px
      :width 30px
      :text-align right
    td.code
      :background #fff
      :padding 0 10px 0 10px
      
div#readme
  :color #000
  :background #eaeaea
  :border solid 1px #ccc
  :padding 10px
  :margin 10px 20px
  :font
    :family helvetica
    :size 14px
  h2, p
    :color #000
    :margin 0
  p
    :margin 10px
  pre code
    :border solid 1px #ccc
    :background #fff
    :padding 4px
    :color #555
div#meta
  :border solid 1px #999
  :margin 10px 20px -1px 20px
  :padding 7px 10px
  :background #ccc
  :color #555
  :font
    :family monaco
  a
    :float right
    :margin-right 10px
    :text-decoration underline
    :font
      :size 14px

div#file
  :color #555
  span
    :color #000
  span.c
    :color #998
    :font-style italic
  span.err
    :color #a61717
    :background-color #e3d2d2
  span.k
    :color #fd5615
    :font-weight bold
  span.o
    :font-weight bold
  span.cm
    :color #998
    :font-style italic
  span.cp
    :color #999
    :font-weight bold
  span.c1
    :color #998
    :font-style italic
  span.cs
    :color #999
    :font-weight bold
    :font-style italic
  span.gd
    :color #000
    :background-color #fdd
  span.gd
    span.x
      :color #000
      :background-color #faa
  span.ge
    :font-style italic
  span.gr
    :color #26439a
  span.gh
    :color #999
  span.gi
    :color #000
    :background-color #dfd
  span.gi
    span.x
      :color #000
      :background-color #afa
  span.go
    :color #888
  span.gp
    :color #555
  span.gs
    :font-weight bold
  span.gu
    :color #aaa
  span.gt
    :color #26439a
  span.kc
    :font-weight bold
  span.kd
    :font-weight bold
  span.kp
    :font-weight bold
  span.kr
    :font-weight bold
  span.kt
    :color #458
    :font-weight bold
  span.m
    :color #099
  span.s
    :color #fd5615
  span.na
    :color #00a341
  span.nb
    :color #000
  span.nc
    :color #458
    :font-weight bold
  span.no
    :color #98000b
  span.ni
    :color #800080
  span.ne
    :color #a635ad
    :font-weight bold
  span.nf
    :color #26439a
    :font-weight bold
  span.nn
    :color #555
  span.nt
    :color #000
  span.nv
    :color #00a341
  span.ow
    :font-weight bold
  span.w
    :color #bbb
  span.mf
    :color #26439a
  span.mh
    :color #26439a
  span.mi
    :color #26439a
  span.mo
    :color #26439a
  span.sb
    :color #fd5615
  span.sc
    :color #fd5615
  span.sd
    :color #fd5615
  span.s2
    :color #00a341
  span.se
    :color #fd5615
  span.sh
    :color #fd5615
  span.si
    :color #fd5615
  span.sx
    :color #00a341
  span.sr
    :color #009926
  span.s1
    :color #00a341
  span.ss
    :color #990073
  span.bp
    :color #999
  span.vc
    :color #00a341
  span.vg
    :color #98000b
  span.vi
    :color #a635ad
  span.il
    :color #099

li.sha
  :margin-top 10px
  :color = !color1

div#admin_repos
  :float right
  :width 475px
  :margin 20px
  :margin-top -150px
  :background = !color7
  :-webkit-border-radius 5px
  :padding 10px