// normal grey
!color1 = #555
// black
!color2 = #000
// palm green
!color3 = #608341
// darker palm green
!color4 = #324F17
// gold
!color5 = #E3CF57
// white
!color6 = #fff
// light gray
!color7 = #eaeaea

body
  :font-family 'Lucida Grande'
  :background-color = !color3
  :color = !color1

h1, h2
  :margin-left 20px
  :color = !color1

a
  :color = !color4
  :text-decoration none
  &:hover
    :background-color = !color4
    :color = !color5

p
  :margin-left 20px
  :color = !color1

input
  :display block

p.history
  :text-align right
  :padding-right 20px

code
  :font
    :family Monaco, monospace
    :size 13px
  &.line_number
    :margin-left 4px

li
  span
    a
      :color #c4656c
      :font
        :family 'Monaco', monospace
        :style italic
      &:hover
        :background transparent
        :color #c4656c
        :text-decoration underline
      
div#wrapper
  :width 1000px
  :margin 70px auto
  :border solid 4px
    :color = !color5
  :-webkit-border-radius 6px
  :background = !color6
  :overflow auto

div#diff
  :color = !color2
  
div#file
  :margin 0px 10px
  :background-color #201d1d
  // Ruby syntax hilighting
  span.comment
    :color #1a5adf
    :font
      :style italic
  span.punct
    :color #2ce429
  span.string
    :color #009b13
  span.ident
    :color #bcae9e
  span.constant
    :color #5d5cf3
  span.number
    :color #43aa46
  span.keyword
    :color #49a8eb
    :font
      :style bold
  span.symbol
    :color #c4656c
    :font
      :style bold
  span.attribute
    :color #348494
    :font
      :style bold
  span.method
    :color #fd935c
  span.class
    :color #bcae9e
    :text-decoration underline
  
li.sha
  :margin-top 10px
  :color = !color1

div#admin_repos
  :float right
  :width 475px
  :margin 20px
  :margin-top -150px
  :background = !color7
  :-webkit-border-radius 5px
  :padding 10px